.game-coinflip .overview-render-target .coin {
  width: 32px;
  height: 32px;
}
.game-coinflip .overview-render-target .coin .front:after,
.game-coinflip .overview-render-target .coin .back:after {
  border: 8px solid #0e1525;
}
.game-coinflip .overview-render-target .coin {
  display: inline-flex;
  margin-right: 10px;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.game-coinflip .game-content-coinflip {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-coinflip .game-content-coinflip .game-history {
  height: 65px;
}
.game-coinflip .coin {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 400px;
  position: relative;
}
.game-coinflip .coin .front {
  /* background: radial-gradient(circle at 50% 50%, #ffcc80, #fb8c00, #e65100); */
  background: url(../games/coinflip/front.webp) no-repeat center center/contain;
}

.game-coinflip .coin .back {
  /* background: radial-gradient(circle at 50% 50%, #90caf9, #1565c0, #0d47a1); */
  background: url(../games/coinflip/back.webp) no-repeat center center/contain;
}
.game-coinflip .coin .front,
.game-coinflip .coin .back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;

  /* backface-visibility: hidden;
  border-radius: 50%; */
}
.game-coinflip .coin .front:after,
.game-coinflip .coin .back:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  /* background: transparent;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #0e1525; */
}
.game-coinflip .coin.front .front {
  transform: translateZ(1px);
}
.game-coinflip .coin.front .back {
  transform: translateZ(-1px) rotateY(180deg);
}
.game-coinflip .coin.back .front {
  transform: translateZ(-1px) rotateY(180deg);
}
.game-coinflip .coin.back .back {
  transform: translateZ(1px);
}
