.game-plinko {
  position: relative;
  width: 600px;
  display: block;
  padding-bottom: 600px;
  height: 0;
  overflow: hidden;
}

.game-plinko .pin {
  background: #66abf5;
}

.game-plinko .pin.pulsate {
  position: relative;
}

.game-plinko .pin.pulsate:before {
  content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #66abf5;
  animation: pulse-plinko 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.game-plinko .plinko {
  position: absolute;
  width: 100%;
  height: 100%;
}

.game-plinko .plinko .bucket {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  font-size: 0.9em;
}

.game-plinko .plinko [heading]:not([heading='']) {
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.game-plinko .plinko [heading='0'] {
  animation-name: bounceLeft;
}

.game-plinko .plinko [heading='1'] {
  animation-name: bounceRight;
}

.game-plinko .plinko [heading='2'] {
  animation-name: fallAway;
}

@keyframes pulse-plinko {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes bounceLeft {
  0% {
    transform: translate(-50%, -125%);
  }
  50% {
    transform: translate(-100%, -250%);
  }
  100% {
    transform: translate(-50%, -125%);
  }
}

@keyframes bounceRight {
  0% {
    transform: translate(-50%, -125%);
  }
  50% {
    transform: translate(0%, -250%);
  }
  100% {
    transform: translate(-50%, -125%);
  }
}

@keyframes fallAway {
  0% {
    transform: translate(-50%, -125%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
